<div id="markCarousel" class="carousel slide carousel-fade" data-ride="carousel" data-pause="false">
    <!-- Indicators--->
    <ol class="carousel-indicators">
        <li data-target="#markCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#markCarousel" data-slide-to="1" class="active"></li>
        <li data-target="#markCarousel" data-slide-to="2" class="active"></li>
    </ol>

    <!-- Wrapper for Slides -->
    <div class="carousel-inner">

        <div class="item active">
            <a href="el-libro-real"><img src="assets/img/banner/01Bold.jpg" alt=" El libro real Te presentamos el Libro Real de la Música Tradicional Venezolana"></a>
        </div>
        <div class="item">
            <a href="mark-brown"><img src="assets/img/banner/02.jpg" alt="mark brown Músico, pedagogo y autor del Libro Real de la Música Tradicional Venezolana"></a>
        </div>
        <div class="item">
            <a href="clases-de-musica"><img src="assets/img/banner/03.jpg" alt=" mark brown Clases de música venezolana a tu medida"></a>
        </div>

    </div>

    <!-- Controls--->
    <a class="left carousel-control" href="#markCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#markCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>

</div>