<div id="markCarousel" class="carousel slide carousel-fade" data-ride="carousel" data-pause="false">
    <!-- Indicators--->
    <ol class="carousel-indicators">
        <li data-target="#markCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#markCarousel" data-slide-to="1" class="active"></li>
        <li data-target="#markCarousel" data-slide-to="2" class="active"></li>
    </ol>

    <!-- Wrapper for Slides -->
    <div class="carousel-inner">

        <div class="item active">
            <img src="assets/img/banner/01limpio.jpg" alt=" El libro real We introduce you: traditional Venezuelan music.">
            <div class="row">
                <div class="col-xs-12 col-sm-6 textobanner col-sm-offset-6">
                    <h2> {{ 'slider1.titulo1' | translate }} </h2>
                    <h2>{{ 'slider1.titulo2' | translate }}</h2>
                    <h3>{{ 'slider1.titulo3' | translate }}</h3>
                    <a routerLink="/el-libro-real">+ info</a>
                </div>
            </div>

        </div>
        <div class="item ">
            <img src="assets/img/banner/02limpio.jpg" alt="mark brown Músico, pedagogue and author of the royal book of Venezuelan music">
            <div class="row">
                <div class="col-xs-12 col-sm-4 textobanner col-sm-offset-4">
                    <h1>{{ 'slider2.titulo1' | translate }}</h1>
                    <h1>{{ 'slider2.titulo2' | translate }}</h1>
                    <h3>{{ 'slider2.titulo3' | translate }}</h3>
                    <a routerLink="/mark-brown">+ info</a>
                </div>
            </div>
        </div>
        <div class="item ">
            <img src="assets/img/banner/03.jpg" alt=" mark brown Music Classes learning online personalized">
            <div class="row">
                <div class="col-xs-12 col-sm-4 textobanner textobannerbajo col-sm-offset-5">
                    <h1>{{ 'slider3.titulo1' | translate }}</h1>
                    <h3>{{ 'slider3.titulo2' | translate }}</h3>
                    <a routerLink="/music-clases">+ info</a>
                </div>
            </div>
        </div>

    </div>

    <!-- Controls--->
    <a class="left carousel-control" href="#markCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#markCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>

</div>
