<div class="topevacio">
</div>

<!-- Antecedentes -->

<section class="bg-primary ">
    <div class="container">
        <div class="librooo uppp">
            <div class="col-xs-12 col-sm-6 col-md-6 col-sm-push-1 cuadrogris ">
                <h2> {{ 'libro.titulo' | translate }} </h2>
                <p>{{ 'proyecto.text' | translate }} </p>

            </div>

        </div> <br><br>
        <div class="col-sm-6 ">
            <p>{{ 'precisamente.text' | translate }}<br><br> {{ 'gracias.text' | translate }}<br><br>
            </p>

        </div>
        <div class="col-sm-6 ">
            <p>{{ 'encuentros.text' | translate }} <br><br> {{ 'resultado.text' | translate }} </p>
        </div>
        <div class="clear"></div>

        <div class="col-xs-10 col-xs-push-1 ">
            <hr>
            <p>{{ 'interes.text' | translate }}</p>
            <hr>
        </div>
    </div>
</section>


<!-- Fotos -->

<section class="no-padding " id="galeria">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-xs-6 col-lg-4 col-sm-6 cont">
                <a href="#galleryModal01" class="gallery-box" data-toggle="modal" data-src="assets/img/ellibro/020-LibroReal-MarkBrown_EHA.jpg">
                    <img src="assets/img/ellibro/020-LibroReal-MarkBrown_EHA.jpg" class=" image" alt="Libro real de la musica venezolana">
                    <div class="middle">
                        <p>{{'primeraedicion.text' | translate}}</p>
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-lg-4 col-sm-6 cont">
                <a href="#galleryModal02" class="gallery-box" data-toggle="modal" data-src="assets/img/ellibro/estilo.jpg">
                    <img src="assets/img/ellibro/estilo.jpg" class=" image" alt="Libro real de la musica venezolana estilo musical">
                    <div class="middle">
                        <p>{{'partitura.text' | translate}}</p>
                    </div>
                </a>
            </div>
            <div class="clearfix hidden-lg"> </div>
            <div class="col-xs-6 col-lg-4 col-sm-6 cont">
                <a href="#galleryModal03" class="gallery-box" data-toggle="modal" data-src="assets/img/ellibro/autor.jpg">
                    <img src="assets/img/ellibro/autor.jpg" class=" image" alt="Libro real de la musica venezolana autores">
                    <div class="middle">
                        <p>{{'partitura2.text' | translate}}</p>
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-lg-4 col-sm-6 cont">
                <a href="#galleryModal04" class="gallery-box" data-toggle="modal" data-src="assets/img/ellibro/letras.jpg">
                    <img src="assets/img/ellibro/letras.jpg" class=" image" alt="Libro real de la musica venezolana letras">
                    <div class="middle">
                        <p>{{'partitura3.text' | translate}}</p>
                    </div>
                </a>
            </div>
            <div class="clearfix hidden-lg"> </div>
            <div class="col-xs-6 col-lg-4 col-sm-6 cont">
                <a href="#galleryModal05" class="gallery-box" data-toggle="modal" data-src="assets/img/ellibro/partituras2.jpg">
                    <img src="assets/img/ellibro/partituras.jpg" class=" image" alt="Libro real de la musica venezolana partituras">
                    <div class="middle">
                        <p>{{'partitura4.text' | translate}}</p>
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-lg-4 col-sm-6 cont">
                <a href="#galleryModal06" class="gallery-box" data-toggle="modal" data-src="assets/img/ellibro/titulo.jpg">
                    <img src="assets/img/ellibro/titulo.jpg" class=" image" alt="Libro real de la musica venezolana titulo">
                    <div class="middle">
                        <p>{{'partitura5.text' | translate}}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>




<app-newsletter></app-newsletter>

<app-modal></app-modal>