<div class="topevacio"></div>


<div class="lateral">

    <ul>
        <li class="languaje">
            <a *ngIf="flag" style="cursor: pointer;" [ngClass]="{'active': activeLang == 'es'}" (click)="cambiarLenguaje('es')" class="botonidioma">
                <i class="fa fa-language" aria-hidden="true"></i>
            </a>
        </li>
        <li class="languaje">
            <a *ngIf="!flag" style="cursor: pointer;" [ngClass]="{'!active': activeLang == 'en'}" (click)="cambiarLenguaje('en')" class="botonidioma">
                <i class="fa fa-language" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
</div>

<div *ngIf="flag ">
    <div class="container ">
        <div class="col-sm-8 news">
            <div class="row">
                <div *ngIf="noticia$ | async as noticia else loading">
                    <div class="col-xs-12  uppp">
                        <img src="{{noticia.image}}" class="shadow" alt="{{noticia.tituloEng}} libro real venezuela" />
                        <div class="clear"></div> <br><br>
                        <h2 class="titulo">{{noticia.tituloEng}}</h2>
                        <div class="clear"></div> <br><br>
                        <div class="paciente-desc" [innerHTML]="noticia.introEng"></div>
                    </div>
                    <div class="col-xs-12 uppp">
                        <div class="paciente-desc" [innerHTML]="noticia.parrafosEng"></div>
                    </div>

                    <div class="clear"></div>

                    <div class="comparte uppp">
                        <p>Comparte esta noticia</p>
                        <div class="mano"></div>
                        <div class="iconsocial">
                            <!-- AddToAny BEGIN -->
                            <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                                <!--a class="a2a_dd" href="https://www.addtoany.com/share"></a-->
                                <a class="a2a_button_facebook"></a>
                                <a class="a2a_button_twitter"></a>
                            </div>
                            <script>
                                var a2a_config = a2a_config || {};
                                a2a_config.linkurl = "https://libroreal.com/eng/news/{{noticia.id}}";
                                a2a_config.onclick = 1;
                                a2a_config.locale = "es-VE";
                            </script>
                            <script async src="https://static.addtoany.com/menu/page.js"></script>
                            <!-- AddToAny END -->
                        </div>
                    </div>
                </div>
            </div>

            <ng-template #loading>
                <div class="service-error">
                    <h3>Error loading of the blog detail. Please try again later.</h3>
                </div>
            </ng-template>




        </div>


        <!--- aside->
        <aside class="col-sm-3 uppp">
            <div class="centradobord">
                <h1>Artículos de interés</h1>
            </div>
            <app-blogpost-recent></app-blogpost-recent>
        </aside>

        <-- //||--->


    </div>
</div>

<div *ngIf="!flag ">
    <div class="container ">
        <div class="col-sm-8 news">
            <div class="row">
                <div *ngIf="noticia$ | async as noticia else loading">
                    <div class="col-xs-12  uppp">
                        <img src="{{noticia.image}}" class="shadow" alt="{{noticia.titulo}} libro real venezuela" />
                        <div class="clear"></div> <br><br>
                        <h2 class="titulo">{{noticia.titulo}}</h2>
                        <div class="clear"></div> <br><br>
                        <div class="paciente-desc" [innerHTML]="noticia.intro"></div>
                    </div>
                    <div class="col-xs-12 uppp">
                        <div class="paciente-desc" [innerHTML]="noticia.parrafos"></div>
                    </div>

                    <div class="clear"></div>

                    <div class="comparte uppp">
                        <p>Comparte esta noticia</p>
                        <div class="mano"></div>
                        <div class="iconsocial">
                            <!-- AddToAny BEGIN -->
                            <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                                <!--a class="a2a_dd" href="https://www.addtoany.com/share"></a-->
                                <a class="a2a_button_facebook"></a>
                                <a class="a2a_button_twitter"></a>
                            </div>
                            <script>
                                var a2a_config = a2a_config || {};
                                a2a_config.linkurl = "https://libroreal.com/eng/news/{{noticia.id}}";
                                a2a_config.onclick = 1;
                                a2a_config.locale = "es-VE";
                            </script>
                            <script async src="https://static.addtoany.com/menu/page.js"></script>
                            <!-- AddToAny END -->
                        </div>
                    </div>
                </div>
            </div>

            <ng-template #loading>
                <div class="service-error">
                    <h3>Error loading of the blog detail. Please try again later.</h3>
                </div>
            </ng-template>




        </div>


        <!--- aside->
      <aside class="col-sm-3 uppp">
          <div class="centradobord">
              <h1>Artículos de interés</h1>
          </div>
          <app-blogpost-recent></app-blogpost-recent>
      </aside>

      <-- //||--->


    </div>
</div>
