<section class="conctact">
    <div class="container ">
        <div class="row">
            <div class="ContactoContainer col-xs-11 col-sm-8 col-sm-push-2">
                <form name="MiCompra" action="mail-contacto.php" method="post">
                    <div class="camp col-sm-6">
                        <input type="text" name="Nombre" maxlength="114" class="cuadroInput" placeholder="Nombre y Apellido">
                    </div>
                    <div class="camp col-sm-6">
                        <input type="text" name="CellPhone" maxlength="114" class="cuadroInput" placeholder="Telefono">
                    </div>
                    <div class="camp col-sm-6">
                        <input type="text" name="Email" maxlength="114" class="cuadroInput" placeholder="Email">
                    </div>
                    <div class="camp col-sm-6">
                        <input type="text" name="City" maxlength="114" class="cuadroInput" placeholder="Ciudad">
                    </div>
                    <div class="camp2 col-sm-6">
                        <textarea name="Comments" class="cuadroInput" placeholder="Comentarios"></textarea>
                    </div>
                    <div class="row col-xs-10 col-md-10 col-md-offset-1">
                        <input type="reset" name="" value="Cancelar" class="botoncomprar col-xs-12 col-md-4 col-md-offset-1">
                        <input type="submit" name="contactar" value="Enviar" class="botoncomprar  col-xs-12 col-md-4 col-md-offset-1">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>