<!---Audio videos-->

<div *ngFor="let audio of audios; let i = index">
    <div id="{{audio.id}}" class="modal fade videoModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="btn btn-primary pull-right " onclick="stopVideo()" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                </div>
                <div class="modal-body">
                    <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                        <iframe class="embed-responsive-item" [src]="getVideoIframe(audio.link)" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!---Condiciones-->

<div id="condiciones" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="btn btn-primary pull-right" data-dismiss="modal" aria-hidden="true"> <i class="fa fa-times"></i></button>
            </div>
            <div class="modal-body">
                <h2>Condiciones Generales.</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim facere autem aliquam voluptas mollitia tenetur, facilis, itaque reiciendis, cum sint perferendis ipsa quidem? Minima molestiae fugiat, magni repellat voluptate et.Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit. <br><br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim facere autem aliquam voluptas mollitia tenetur, facilis, itaque reiciendis, cum sint perferendis ipsa quidem?
                    Minima molestiae fugiat, magni repellat voluptate et.Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br><br> Ducimus doloribus exercitationem aspernatur mollitia, eaque excepturi, voluptas consectetur quaerat laboriosam
                    pariatur iste beatae quia nobis omnis, officiis! Atque deserunt nihil, nesciunt!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim facere autem aliquam voluptas mollitia tenetur, facilis, itaque reiciendis, cum sint perferendis
                    ipsa quidem? Minima molestiae fugiat, magni repellat voluptate et.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim facere autem aliquam voluptas mollitia tenetur,
                    facilis, itaque reiciendis, cum sint perferendis ipsa quidem? Minima molestiae fugiat, magni repellat voluptate et.Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </p>

            </div>
        </div>
    </div>
</div>

<!--Personal-->

<div id="modalBernado" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="btn btn-primary pull-right" data-dismiss="modal" aria-hidden="true"> <i class="fa fa-times"></i></button>
            </div>
            <div class="modal-body">
                <div class="col-xs-12 col-sm-6">
                    <img src="assets/personal/bernardo.jpg" alt="">
                </div>
                <div class="col-xs-12 col-sm-6">
                    <h4>Bernardo Bernal</h4>
                    <h5>(Cantaura, 1986)</h5>
                    <p> {{'equipo.textmodal.bernal' | translate}}</p>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="modalEloimar" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="btn btn-primary pull-right" data-dismiss="modal" aria-hidden="true"> <i class="fa fa-times"></i></button>
            </div>
            <div class="modal-body" style="height: 280px;">
                <div class="col-xs-12 col-sm-6">
                    <img src="assets/personal/eloimar.jpg" alt="">
                </div>
                <div class="col-xs-12 col-sm-6">
                    <h4>Eloimar Bonilla</h4>
                    <h5>(Caracas, 1978)</h5>
                    <p>{{'equipo.textmodal.eloimar' | translate}} </p>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="modalfran" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="btn btn-primary pull-right" data-dismiss="modal" aria-hidden="true"> <i class="fa fa-times"></i></button>
            </div>
            <div class="modal-body" style="height: 280px;">
                <div class="col-xs-12 col-sm-6">
                    <img src="assets/personal/fraciestPoller.jpg" alt="">
                </div>
                <div class="col-xs-12 col-sm-6">
                    <h4>Franciest Poller</h4>
                    <h5>(Caracas, 1982)</h5>
                    <p>{{'equipo.textmodal.franciest' | translate}} </p>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="modalMaria" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="btn btn-primary pull-right" data-dismiss="modal" aria-hidden="true"> <i class="fa fa-times"></i></button>
            </div>
            <div class="modal-body" style="height: 280px;">
                <div class="col-xs-12 col-sm-6">
                    <img src="assets/personal/mariaEugeniaArmoni.jpg" alt="">
                </div>
                <div class="col-xs-12 col-sm-6">
                    <h4>María Eugenia Hamoni</h4>
                    <h5>(Caracas, 1992)</h5>
                    <p> {{'equipo.textmodal.mariaeugnia' | translate}} </p>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="modalVanesa" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="btn btn-primary pull-right" data-dismiss="modal" aria-hidden="true"> <i class="fa fa-times"></i></button>
            </div>
            <div class="modal-body" style="height: 280px;">
                <div class="col-xs-12 col-sm-6">
                    <img src="assets/personal/vanessa.jpg" alt="">
                </div>
                <div class="col-xs-12 col-sm-6">
                    <h4>Vanessa Tapia</h4>
                    <h5>(San Fernando de Apure, 1996)</h5>
                    <p> {{'equipo.textmodal.vanesa' | translate}} </p>
                </div>

            </div>
        </div>
    </div>
</div>

<!--Galerias Libro-->

<div id="galleryModal01" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="btn btn-primary pull-right" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
            </div>
            <div class="modal-body">
                <img src="assets/img/ellibro/020-LibroReal-MarkBrown_EHA.jpg" id="galleryImage" class="img-responsive" />
            </div>
        </div>
    </div>
</div>

<div id="galleryModal02" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="btn btn-primary pull-right" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
            </div>
            <div class="modal-body">
                <img src="assets/img/ellibro/estilo.jpg" id="galleryImage" class="img-responsive" />
            </div>
        </div>
    </div>
</div>

<div id="galleryModal03" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="btn btn-primary pull-right" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
            </div>
            <div class="modal-body">
                <img src="assets/img/ellibro/autor.jpg" id="galleryImage" class="img-responsive" />
            </div>
        </div>
    </div>
</div>
<div id="galleryModal04" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="btn btn-primary pull-right" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
            </div>
            <div class="modal-body">
                <img src="assets/img/ellibro/letras.jpg" id="galleryImage" class="img-responsive" />
            </div>
        </div>
    </div>
</div>
<div id="galleryModal05" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="btn btn-primary pull-right" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
            </div>
            <div class="modal-body">
                <img src="assets/img/ellibro/partituras.jpg" id="galleryImage" class="img-responsive" />
            </div>
        </div>
    </div>
</div>
<div id="galleryModal06" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="btn btn-primary pull-right" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
            </div>
            <div class="modal-body">
                <img src="assets/img/ellibro/titulo.jpg" id="galleryImage" class="img-responsive" />
            </div>
        </div>
    </div>
</div>

<!--Galerias Mark-->

<div id="galleryModal1" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="btn btn-primary pull-right" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
            </div>
            <div class="modal-body">
                <img src="./assets/img/mark/03.jpg" id="galleryImage" class="img-responsive" />
            </div>
        </div>
    </div>
</div>

<div id="galleryModal2" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="btn btn-primary pull-right" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
            </div>
            <div class="modal-body">
                <img src="./assets/img/mark/02.jpg" id="galleryImage" class="img-responsive" />
            </div>
        </div>
    </div>
</div>
<div id="galleryModal3" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="btn btn-primary pull-right" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
            </div>
            <div class="modal-body">
                <img src="./assets/img/mark/01.jpg" id="galleryImage" class="img-responsive" />
            </div>
        </div>
    </div>
</div>
<div id="galleryModal4" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="btn btn-primary pull-right" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
            </div>
            <div class="modal-body">
                <img src="./assets/img/mark/04.jpg" id="galleryImage" class="img-responsive" />
            </div>
        </div>
    </div>
</div>
<div id="galleryModal5" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="btn btn-primary pull-right" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
            </div>
            <div class="modal-body">
                <img src="./assets/img/mark/05.jpg" id="galleryImage" class="img-responsive" />
            </div>
        </div>
    </div>
</div>
<div id="galleryModal6" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="btn btn-primary pull-right" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
            </div>
            <div class="modal-body">
                <img src="./assets/img/mark/06.jpg" id="galleryImage" class="img-responsive" />
            </div>
        </div>
    </div>
</div>
<div id="galleryModal7" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="btn btn-primary pull-right" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
            </div>
            <div class="modal-body">
                <img src="./assets/img/mark/07.jpg" id="galleryImage" class="img-responsive" />
            </div>
        </div>
    </div>
</div>
<div id="galleryModal8" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="btn btn-primary pull-right" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
            </div>
            <div class="modal-body">
                <img src="./assets/img/mark/08.jpg" id="galleryImage" class="img-responsive" />
            </div>
        </div>
    </div>
</div>