<div class="topevacio"></div>

<section class="bg-primary ">
    <div class="container">
        <div class="markbrow uppp">
            <div class="col-xs-12 col-sm-6 col-md-6 col-sm-push-1 cuadrogris ">
                <h2>{{'autor.title' | translate}} </h2><br>
                <p>{{'markabout1.text' | translate}} <br><br> {{'markabout2.text' | translate}}
                </p>
            </div>
        </div> <br><br>
        <div class="col-xs-12 col-sm-8 col-sm-push-2 uppp">
            <hr>

            <p>{{'markabout3.text' | translate}}</p>
            <hr>
            <br><br>
        </div>

    </div>
</section>


<section class="mrkii ">
    <div class="container">
        <div class="col-sm-6">
            <p class="int">{{'markabout4.text' | translate}}
                <br><br>{{'markabout5.text' | translate}}
                <br><br> {{'markabout6.text' | translate}} </p>

        </div>
        <div class="col-sm-6"></div>
    </div>
</section>

<section>
    <div class="col-xs-12 col-sm-8 col-sm-push-2 ">
        <hr>
        <div class="clear"></div><br><br>
        <h2 class="text-center">{{'markabout7.text' | translate}}</h2>

    </div>
</section>

<!-- Fotos -->

<section class="no-padding " id="galeria">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-xs-6 col-sm-3 col-lg-3 cont">
                <a href="#galleryModal1" class="gallery-box" data-toggle="modal" data-src="./assets/img/mark/03.jpg" data-title="Mark brown con Pablo Camacaro en Cabudare, 2009">
                    <img src="./assets/img/mark/03.jpg" class="img-responsive image" alt="Mark brown con Pablo Camacaro en Cabudare, 2009">
                    <div class="middle">
                        <p>{{'galeria1.text' | translate}}</p>
                    </div>
                </a>
            </div>

            <div class="col-xs-6 col-sm-3 col-lg-3 cont">
                <a href="#galleryModal2" class="gallery-box" data-toggle="modal" data-src="./assets/img/mark/02.jpg">
                    <img src="./assets/img/mark/02.jpg" class="img-responsive image" alt="Mark brown Ricardo Mendoza, 2008">
                    <div class="middle">
                        <p>{{'galeria2.text' | translate}}</p>
                    </div>
                </a>
            </div>

            <div class="col-xs-6 col-sm-3 col-lg-3 cont">
                <a href="#galleryModal3" class="gallery-box" data-toggle="modal" data-src="./assets/img/mark/01.jpg">
                    <img src="./assets/img/mark/01.jpg" class="img-responsive image" alt="Mark brown con Adelis Fréitez, Barquisimeto, 2008">
                    <div class="middle">
                        <p>{{'galeria3.text' | translate}}</p>
                    </div>
                </a>
            </div>

            <div class="col-xs-6 col-sm-3 col-lg-3 cont">
                <a href="#galleryModal4" class="gallery-box" data-toggle="modal" data-src="./assets/img/mark/04.jpg">
                    <img src="./assets/img/mark/04.jpg" class="img-responsive image" alt="Mark brown con Rafael Rincón Gonzalez, 2009">
                    <div class="middle">
                        <p>{{'galeria4.text' | translate}}</p>
                    </div>
                </a>
            </div>

            <div class="col-xs-6 col-sm-3 col-lg-3 cont">
                <a href="#galleryModal5" class="gallery-box" data-toggle="modal" data-src="./assets/img/mark/05.jpg">
                    <img src="./assets/img/mark/05.jpg" class="img-responsive image" alt="Mark brown con Aldemaro Romero 2005">
                    <div class="middle">
                        <p>{{'galeria5.text' | translate}}</p>
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-3 col-lg-3 cont">
                <a href="#galleryModal6" class="gallery-box" data-toggle="modal" data-src="./assets/img/mark/06.jpg">
                    <img src="./assets/img/mark/06.jpg" class="img-responsive image" alt="Mark brown con Henry Martinez en Maracay, 2008">
                    <div class="middle">
                        <p>{{'galeria6.text' | translate}}</p>
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-3 col-lg-3 cont">
                <a href="#galleryModal7" class="gallery-box" data-toggle="modal" data-src="./assets/img/mark/07.jpg">
                    <img src="./assets/img/mark/07.jpg" class="img-responsive image" alt="Mark brown con Rafael Rincón Gonzalez 2009">
                    <div class="middle">
                        <p>{{'galeria7.text' | translate}}</p>
                    </div>
                </a>
            </div>

            <div class="col-xs-6 col-sm-3 col-lg-3 cont">
                <a href="#galleryModal8" class="gallery-box" data-toggle="modal" data-src="./assets/img/mark/08.jpg">
                    <img src="./assets/img/mark/08.jpg" class="img-responsive image" alt="Mark brown con Enrique Hidalgo en Miami 2014">
                    <div class="middle">
                        <p>{{'galeria8.text' | translate}}</p>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>


<div class="container">
    <div class="centradobord">
        <h1>{{'equipo' | translate}}</h1>
    </div>
    <div class="row">
        <div class="span12">
            <div class="personal">
                <div class="item">
                    <a href="#modalMaria" data-toggle="modal">
                        <img src="assets/personal/mariaEugeniaArmoni.jpg" alt="equipo el libro real " class="equipo">
                    </a>
                    <div class="info info-derecha">
                        <h4>María Eugenia Armoni</h4>
                        <p>(Caracas, 1992)</p>
                    </div>
                </div>
                <div class="item">
                    <a href="#modalVanesa" data-toggle="modal">
                        <img src="assets/personal/vanessa.jpg" alt="equipo el libro real " class="equipo">
                    </a>
                    <div class="info info-derecha">
                        <h4>Vanessa Tapia</h4>
                        <p>(San Fernando de Apure, 1996)</p>
                    </div>
                </div>
                <div class="item">
                    <a href="#modalBernado" data-toggle="modal">
                        <img src="assets/personal/bernardo.jpg" alt="equipo el libro real " class="equipo">
                    </a>
                    <div class="info">
                        <h4>Bernardo Bernal</h4>
                        <p>(Cantaura, 1986)</p>
                    </div>
                </div>

                <div class="item">
                    <a href="#modalfran" data-toggle="modal">
                        <img src="assets/personal/fraciestPoller.jpg" alt="equipo el libro real " class="equipo">
                    </a>
                    <div class="info">
                        <h4>Franciest Poller</h4>
                        <p>(Caracas, 1982)</p>
                    </div>
                </div>

                <div class="item">
                    <a href="#modalEloimar" data-toggle="modal">
                        <img src="assets/personal/eloimar.jpg" alt="equipo el libro real " class="equipo">
                    </a>
                    <div class="info">
                        <h4>Eloimar Bonilla</h4>
                        <p>(Caracas, 1978)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-modal></app-modal>