<div class="topevacio"></div>
<div class="container ">
    <div class="centradobord">
        <h1>Preguntas Frecuentes</h1>
    </div>
</div>

<div class="container ">
    <div class="centradobord">
        <h3>Cuando comenzó el trabajo del Libro Real?</h3>
        <p>En enero del 2001. El autor empezó las primeras transcripciones cuando vivía en Nueva York.</p>

        <h3>Quien ha trabajado en el Libro Real?</h3>
        <p>Al comienzo, empezó como un proyecto mutuo con el contrabajista David Peña, quien hizo la transcripción básica de unas nueve canciones durante una visita a Nueva York en 2001. Luego siguió Mark Brown por su cuenta por 14 años hasta que contrata
            a María Eugenia Hamoni como asistente personal. Ella ayudó con letras, algunas transcripciones, búsqueda de datos, diseño de página, organización del repertorio, bases de datos, y muchos otros detalles. Durante 2016 contribuyeron esporádicamente
            con transcripciones básicas María Luisa Lamas, María Victoria Yánez y Heriberto Rojas. En Octubre del 2016, Mark intenta a contratar un equipo de trabajo fijo, pero el personal cambiaba frecuentemente. Entre los diversos asistentes se destacaron
            Bernardo Bernal, Vanessa Tapia y Javier Villamizar. Los ocho meses de trabajo intensivo para culminar los tomos 1 y 2 del Libro Real contaron con el trabajo de edición de María Eugenia Hamoni, Vanessa Tapia y Bernardo Bernal. En Producción
            trabajó Franciest Poller desde 2016 y Eloimar Bonilla en los meses de Mayo-Octubre de 2017. Jessica Alcalá ayudó de mil maneras en 2016-2017 para mantener el trabajo en marcha y está a cargo del canal de youtube, generando los videos y editando.
            Muchos compositores han ofrecido su tiempo y talento para mejorar mi este proyecto, entre ellos Cristobal Soto, Henry Martinez, Pablo Camacaro, Aquiles Baez, Omar García, Vianey Isolis Ramirez, Miguel y Raúl Delgado Estevez, entre otros. En
            investigación contamos con la ayuda de Carlos García Carbó. En todos los detalles de diseño, tanto del interior del libro como el exterior, Pedro Quintero.</p>

        <h3>Qué estilos están incluidos en el Libro Real de Venezuela y que criterio se usó para elegir?</h3>

        <p>En el Libro Real se incluyeron solamente estilos de música tradicionales venezolanos. El criterio que se usó fue de dar prioridad a los estilos mas auténticos de Venezuela y dejar para otro trabajo los que derivan de estilos extranjeros. Por lo
            tanto encontrarás joropos de varias regiones de Venezuela, merengues (caraqueño, oriental, y andino), danzas (zuliana, oriental), gaitas, bambucos, diversiones, pasajes, y valses. Aunque el vals no origina en Venezuela, los valses venezolanos
            tienen características que los hacen criollos y forman una parte importante del repertorio folklórico nacional.<br><br> La música de los llanos y en parte la de los andes, se puede decir que la compartimos con nuestros hermanos colombianos.
            De ninguna manera pretendemos exclusividad sobre estos géneros.</p>

        <h3>Que metodología se usó para la correcta transcripción de la música?</h3>

        <p>Mark Brown entrevistó a muchos compositores personalmente y les mostró sus transcripciones, tanto escritas como en audio, para verificar la autenticidad con los mismos autores. Si el compositor ya había fallecido, se trató de entrevistar a sus
            colegas músicos mas cercanos para revisar las transcripciones. En casos de música muy antigua, se buscó la grabación mas antigua y cercana al compositor y se usó para la transcripción musical.<br><br> En muchos casos fue difícil saber con
            exactitud cual grabación era la mejor, o quizá no había grabación de la época, o en algunos casos eran piezas que no habían sido grabadas nunca y solo había una partitura manuscrita, a veces del autor, a veces no. En algunos casos, las piezas
            solo estaban grabadas en cassettes ya muy deteriorados, de grabaciones caseras. En estos casos se usaron programas profesionales de audio para poder escuchar mejor los detalles y hacer una partitura lo mas fidedigna posible de la pieza.<br><br>            Como la interpretación de algunos autores es muy libre y también cambiante de una presentación a otra, se tuvo que estudiar la pieza y escoger como podía ser escrita de la manera mas básica, suponiendo que cada intérprete lo va a interpretar
            a su manera. En estos casos, la partitura es una guía y se recomienda a los usuarios escuchar varias versiones de la pieza para ver como la quieren interpretar. Para esto hemos preparado un canal de YouTube con audios que recomendamos escuchar,
            con información sobre la pieza y fotos relevantes del compositor, intérprete y de la geografía de donde es la pieza. </p>
    </div>
</div>