<div class="topevacio"></div>
<div class="container ">
    <div class="centradobord">
        <h1>{{ 'Preguntas Frecuentes' | translate }}</h1>
    </div>
</div>

<div class="container ">
    <div class="centradobord">
        <h3>{{ 'Cuando comenzó el trabajo del Libro Real?' | translate }}</h3>
        <p>{{ 'En enero del 2001. El autor empezó las primeras transcripciones cuando vivía en Nueva York.' | translate }}</p>

        <h3> {{ 'Quien ha trabajado en el Libro Real?' | translate }}</h3>
        <p>{{'respuesta1' | translate}}</p>

        <h3> {{'Qué estilos están incluidos en el Libro Real de Venezuela y que criterio se usó para elegir?' | translate}}</h3>

        <p>{{'respuesta2' | translate}}</p>

        <h3>{{'Que metodología se usó para la correcta transcripción de la música?' | translate}}</h3>

        <p>{{'respuesta3' | translate}}</p>
    </div>
</div>
