<app-slider></app-slider>
<!-- mark brown -->

<section class="bg-primary " id="one">
    <div class="container markbrow uppp">
        <div class="col-xs-12 col-sm-4 col-sm-push-1 cuadrogris ">
            <h5> {{ 'Introducción' | translate }}</h5>
            <h2>MARK BROWN</h2>
            <p>{{'dedicado.text' | translate }}</p>
            <a routerLink="/mark-brown"><button class="botoncomprar  col-xs-12 col-sm-8 ">{{ 'ver más' | translate }}</button></a>
        </div>
    </div>
</section>


<!---Clases de musica--->

<section class="no-padding">
    <div class="container cuadrogris2  uppp text-center">
        <h1>MARK P. BROWN</h1>
        <h1>{{'sededica.text' | translate}}</h1>
        <h3>{{'paramusicos.text' | translate}}</h3>

    </div>
    <div class="clear"></div>
    <div class="container clasess uppp text-center">
        <h1> {{ 'Clases de Música' | translate }}</h1>
        <h3>{{ 'ensa.text' | translate }}</h3>
        <br><br>
        <a routerLink="/clases-de-musica"><button class="botoncomprar uppp col-xs-12 col-sm-4 col-sm-push-4">{{ 'ver más' | translate }}</button></a>

    </div>
</section>

<!--noticias-->
<app-blog-home></app-blog-home>


<!---mapa musical--->

<!---section id="three" class="no-padding">
        <div class="container mapaa uppp">
            <h1>Mapa <br> musical</h1>
            <a href="mapa-musical"><button class="botoncomprar uppp col-xs-12 col-sm-4 col-sm-push-1">ver más</button></a>
        </div>
    </section--->

<!----comprar--->

<section class="compr uppp" id="last">
    <div class="container">
        <div class="row">

            <div class="col-xs-12 kitpromo ">
                <h1>{{ 'Letras' | translate }}</h1>
                <h2 class="col-xs-12 col-sm-6 col-md-8">{{ 'Necesitas.text' | translate }}</h2>
                <div class="clear"></div>
                <p>{{ 'Puedes.text' | translate }} </p>
                <a routerLink="/letras"><button class="botoncomprar col-xs-10 col-sm-4 ">{{ 'ver más' | translate }}</button></a>
            </div>
        </div>
    </div>
</section>