<div class="topevacio"></div>

<div class="container">

    <div class="row">
        <!--Español-->
        <div *ngIf="flag==true">
            <div class="col-xs-12 col-sm-4 fr-view" *ngFor="let noticia of noticias | keys | paginate: { itemsPerPage: count, currentPage: p }">

                <div class="card cardnoticia">
                    <div class="card-body">
                        <img src="{{noticia.image}}" class="img-responsive" alt="{{noticia.titulo}}">
                        <div class="contenido">
                            <p><small>{{noticia.created_at | date}}</small></p>
                            <h3 class="col-xs-12">{{noticia.titulo }}</h3>
                            <p class="hidden-xs">{{noticia.intro}}</p>
                            <a [routerLink]="['/noticia', noticia.id]"><button class="botoncomprar col-xs-12 col-sm-8 col-sm-push-2">Leer más</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!--English-->
        <div *ngIf="flag==false">
            <div class="col-xs-12 col-sm-4 fr-view" *ngFor="let noticia of noticias | keys | paginate: { itemsPerPage: count, currentPage: p }">

                <div class="card cardnoticia">
                    <div class="card-body">
                        <img src="{{noticia.image}}" class="img-responsive" alt="{{noticia.titulo}}">
                        <div class="contenido">
                            <p><small>{{noticia.created_at | date}}</small></p>
                            <h3 class="col-xs-12">{{noticia.tituloEng}}</h3>
                            <p class="hidden-xs">{{noticia.introEng}}</p>
                            <a [routerLink]="['/noticia', noticia.id]"><button class="botoncomprar col-xs-12 col-sm-8 col-sm-push-2">Read More</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="clear"></div> <br>
    <!--Including the pagination control.-->
    <div class="container mt-4 mb-4">
        <div class="text-center">
            <pagination-controls (pageChange)="p = $event" autoHide="true" responsive="true" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
        </div>
    </div>

</div>