<div class="container">
    <div class="right-widget recent-post ">
        <div *ngFor="let noticia of noticias " class="mt-1 ">
            <a [routerLink]="['/news', noticia.id]">
                <div class="rb-box">
                    <div class="rb-box-img">
                        <img src="{{noticia.image}}" alt="{{noticia.tituloEng}}" />
                    </div>
                    <div class="rb-box-desc">
                        <h6>{{noticia.tituloEng}}</h6>
                    </div>
                </div>
            </a>
            <hr>
        </div>
    </div>
</div>