<div class="clear"></div>
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-4 column">
                <ul class="list-unstyled">
                    <li><a routerLink="el-libro-real">{{ 'Inicio' | translate }}</a></li>
                    <li><a routerLink="mark-brown">{{ 'Mark Brown / Equipo' | translate }}</a></li>
                    <li><a routerLink="clases-de-musica">{{ 'Clases de Música' | translate }}</a></li>
                    <li><a routerLink="letras">{{ 'Letras' | translate }}</a></li>
                    <li><a routerLink="noticias">{{ 'Noticias' | translate }}</a></li>
                    <li><a routerLink="audio">{{ 'Audio' | translate }}</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-4 column">
                <ul class="list-unstyled">
                    <li><a routerLink="comprar-libros-en-linea">{{ 'Comprar Libros en Línea' | translate }}</a></li>
                    <li><a routerLink="contacto">{{ 'Contacto' | translate }}</a></li>
                    <li><a routerLink="preguntas-frecuentes">{{ 'Preguntas Frecuentes' | translate }}</a></li>
                </ul>
                <h4 class="hidden-xs">{{ 'Síguenos en:' | translate }}</h4>
                <ul class="list-inline hidden-xs">
                    <li><a rel="nofollow" href="https://www.facebook.com/LibroReal/" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a rel="nofollow" href="https://twitter.com/Libro_Real" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a rel="nofollow" href="https://www.instagram.com/libro_real/" title="Instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    <li><a rel="nofollow" href="https://www.youtube.com/channel/UCfXadcyT09Gi-R6VZfJciuQ" title="Youtube" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
                </ul>

            </div>
            <h4 class="col-xs-12 visible-xs">{{ 'Síguenos en:' | translate }}</h4>
            <ul class="list-inline col-xs-12 visible-xs">
                <li><a rel="nofollow" href="https://www.facebook.com/LibroReal/" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a rel="nofollow" href="https://twitter.com/Libro_Real" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a rel="nofollow" href="https://www.instagram.com/libro_real/" title="Instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
                <li><a rel="nofollow" href="https://www.youtube.com/channel/UCfXadcyT09Gi-R6VZfJciuQ" title="Youtube" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
            </ul>
            <div class="col-xs-12 col-sm-4 ">
            </div>
        </div>
        <br/>

    </div>
</footer>
<div class="credits">
    <div class="container">
        <p>El Libro Real Copyright 2018 | Designed by: dares y tomares | Developed by: <a href="http://www.malcolmcordova.com" target="_blank" style="color:#fff">Malcolm Cordova Studio Design</a></p>
    </div>
</div>